@use "../../../styles/variables.scss" as *;

.submit-button {
  width: 15rem;
  height: 4rem;
  background-color: $primary-color;
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 4px;
}

.submit-button:hover {
  background-color: greenyellow;
  color: black;
}
