<app-header></app-header>
<div className="home-content">
    <div className="info-container">
        <h1>The new oldschool direct & group chat</h1>
        <p>
            We built this chat for all of you that wish to stay connected with
            no additional hassle. Simply create an account, add friends and
            chat away. Have a whole team behind you? We got you. Simply create
            a team and chat with all your friends together!
        </p>
        <div className="btns-container">
            <app-button [btnConfig]="joinBtnConfig" />
            <app-button [btnConfig]="loginBtnConfig" />
        </div>
    </div>
    <div className="stats-container">
        <div className="stat-container">
            <p>{{userCount}}</p>
            <p>users</p>
        </div>
        <div className="stat-container">
            <p>{{teamCount}}</p>
            <p>channels</p>
        </div>
    </div>
</div>